<div class="container">
  <header>
    <h1>App Component</h1>
  </header>

  <main>
    <section class="user-section">
      <app-user occupation="Angular Developer"></app-user>
    </section>

    <section class="child-section">
      <app-child (addItemEvent)="addItem($event)"></app-child>
    </section>

    <section class="form-section">
      <app-form></app-form>
    </section>

    <section class="info-section">
      <p>Count: {{ items.length }}</p>
      <p>Car Listing: {{ display }}</p>
    </section>

    <section class="pipe-section">
      <div>
        <h2>パイプ</h2>
        <p>{{ username | lowercase }}</p>
        <h2>パイプによるデータのフォーマット</h2>
        <ul>
          <li>Number with "decimal" {{ num | number:"3.2-2" }}</li>
          <li>Date with "date" {{ birthday | date : "MM/dd/yyyy" }}</li>
          <li>Currency with "currency" {{ cost | currency }}</li>
        </ul>
        <h2>パイプの逆順</h2>
        <p>{{ word | reverse }}</p>
      </div>
    </section>
  </main>
</div>
